<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59385259487-6eqf3ea7mit7l7leaf3abgq0pchi3uue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59385259487-6eqf3ea7mit7l7leaf3abgq0pchi3uue</string>
	<key>API_KEY</key>
	<string>AIzaSyByD2G-_A7fkT7xR7gllU8XT2S3UjfGu18</string>
	<key>GCM_SENDER_ID</key>
	<string>59385259487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.ntens.connect</string>
	<key>PROJECT_ID</key>
	<string>inconnect-e99cb</string>
	<key>STORAGE_BUCKET</key>
	<string>inconnect-e99cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59385259487:ios:7a68748b43b60d8f30d06a</string>
</dict>
</plist>